<div id="<%= dom_id(comment) %>" class="border-[1.5px] border-primary p-4 grid gap-4 rounded-lg relative">
  <% if admin? %>
    <%= button_to post_comment_path(@post, comment), method: :delete, class: "absolute -top-2 -right-2" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 p-0 m-0 fill-red-600 bg-base-100" viewBox="0 0 24 24">
        <path 
        d="m8.4 17l3.6-3.6l3.6 3.6l1.4-1.4l-3.6-3.6L17 8.4L15.6 7L12 10.6L8.4 7L7 8.4l3.6 3.6L7 15.6zm3.6 5q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8" />
      </svg>
    <% end %>
  <% end %>
  <% if comment.user %>
    <p class="flex items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="fill-current w-4 h-4" viewBox="0 0 24 24">
        <path 
        d="M6.25 7a5.75 5.75 0 1 1 11.5 0a5.75 5.75 0 0 1-11.5 0m5.548 7.261a1 1 0 0 1 .13-.011h.144q.066 0 .13.011l7.295 1.283l.038.008c1.344.31 2.788 1.163 3.069 2.82l.004.029l.114.877v.002c.264 2.009-1.329 3.47-3.21 3.47a1 1 0 0 1-.124-.01h-14.9c-1.881 0-3.475-1.462-3.21-3.472l.114-.869l.005-.03c.28-1.627 1.736-2.528 3.077-2.819l.029-.006z" />
      </svg>
      <strong><%= comment.user %></strong>
    </p>
  <% end %>
  <p class="prose"><%= comment.content %></p>
  <small class="text-end"><%= time_tag comment.updated_at, "data-local": "time-ago" %></small>
</div>