<%= form_with(model: post, class: "form-control space-y-4 w-full") do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(post.errors.count, "error") %> Erros:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="grid gap-6">
    <% if post.thumb.attached? %>
      <figure class="w-full h-full">
      </figure>
      <%= image_tag post.thumb, alt: post.title, class: "rounded-lg h-44 w-44 object-cover" %>
    <% end %>
    <div>
      <%= form.label :thumb %>
      <%= form.file_field :thumb, class: "file-input file-input-bordered file-input-primary w-full " %>
    </div>
  </div>
  <div class="grid gap-2">
    <%= form.label :title %>
    <%= form.text_field :title, class: "input input-bordered input-primary w-full" %>
  </div>
  <div class="grid gap-2">
    <%= form.label :description %>
    <%= form.text_area :description, class: "textarea textarea-primary w-full", rows: 3, placeholder: "Descrição" %>
  </div>
  <div class="p-4 rounded-md w-full bg-white">
    <%= form.rich_textarea :content %>
  </div>
  <div class="flex items-center gap-4">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Voltar", posts_path, class: "btn btn-neutral-content" %>
  </div>
<% end %>
