<div class="w-full bg-base-100 shadow-sm">
  <div class="navbar max-w-4xl mx-auto">
    <div class="flex-1">
      <%= link_to root_path, class: "btn btn-ghost p-0 m-0 h-full" do %>
        <%= image_tag 'romin-on-rails-no-bg.png', class: "w-20 h-20 p-0 m-0" %>
      <% end %>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1 text-lg flex items-center">
        <li><%= link_to "Sobre", about_path %></li>
        <li><%= link_to "Posts", posts_path %></li>
        <li>
          <select data-choose-theme class="appearance-none bg-transparent border-none cursor-pointer focus:outline-none">
            <option value="dark">🌜</option>
            <option value="light">🌞</option>
          </select>
        </li>
        <%#<li>
          <details>
            <summary>Posts</summary>
            <ul class="bg-base-100 rounded-t-none p-2 w-full">
              <li><a>Link 1</a></li>
              <li><a>Link 2</a></li>
            </ul>
          </details>
        </li>%>
        <li>
          <% if admin? %>
            <%= link_to "Logout", logout_path, class: "text-error", data: { turbo_method: :delete } %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>