<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Romin On Rails" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <% tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Daisy ui%>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'custom/simple_navbar' %>
  </head>
  <body data-controller="theme" class="w-full">
    <%= simple_navbar(
      brand: {
      logo: "romin-on-rails-no-bg.png",
      url: root_path
      },
      links: [
      { label: "Sobre", url: about_path },
      { label: "Posts", url: posts_path }]) %>
    <main class="max-w-4xl mx-auto px-5 pt-36 mb-16 flex relative">
      <%= yield %>
      <%= flash_message %>
    </main>
  </body>
</html>
